<div class="wrapper__footer"></div>
</div>
<footer class="footer">
    <div class="contain">
        <nav class="menu2">
            <ul class="menu2__list">
                <li class="menu2__item"><a href="#" class="menu2__link">О компании</a></li>
                <li class="menu2__item"><a href="#" class="menu2__link">Пресс-центр</a></li>
                <li class="menu2__item"><a href="#" class="menu2__link">Акции</a></li>
                <li class="menu2__item"><a href="#" class="menu2__link">Каталог</a></li>
                <li class="menu2__item"><a href="#" class="menu2__link">Услуги</a></li>
                <li class="menu2__item"><a href="#" class="menu2__link">Новинки</a></li>
                <li class="menu2__item"><a href="#" class="menu2__link">Прайс-лист</a></li>
                <li class="menu2__item"><a href="#" class="menu2__link">Вопрос-ответ</a></li>
                <li class="menu2__item"><a href="#" class="menu2__link">Фотогалерея</a></li>
                <li class="menu2__item"><a href="#" class="menu2__link">Контакты</a></li>
            </ul>
        </nav>
        <a href="#" class="juno">Сделала <img src="img/juno.jpg" alt="Юнона" class="juno__img"></a>
        <div class="footer__copyright">Все права защищены «Новик» 2015 </div>
        <div class="footer__cop">
            © Ваше Здоровье, 2016
        </div>
        <div class="footer__juno">
            <a href="#" class="link">Разработка и продвижение</a> Студия «Веб-Сервис»
        </div>
    </div>
</footer>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>