<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Итальянская азия</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="page">
<div class="wrapper">
    <div class="wrapper__content">

    <header class="header">
        <div class="header__top">
            <a href="/" class="logo">
                <img src="" alt="" class="logo__img">
            </a>    
        </div>
    </header>