<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Шаблон</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">

</head>
<body class="page">
<div class="wrapper">
    <header class="header">
        <div class="contain">
            <div class="header__top">
                </div>
                <a href="/" class="logo">
                    <img src="img/logo.png" alt="" class="logo__img">
                </a>
                <a href="#popup-form" class="btn">Попап форма</a>
                <a href="#popup" class="btn">Попапа</a>

            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item menu__item-active"><a href="form.html" class="menu__link">О компании</a></li>
                    <li class="menu__item"><a href="#facing-brick" class="menu__link">Услуги</a></li>
                    <li class="menu__item"><a href="#colored-brick" class="menu__link">Новости</a></li>
                    <li class="menu__item"><a href="#crushed-brick" class="menu__link">Задать вопрос</a></li>
                    <li class="menu__item"><a href="#gallery" class="menu__link">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </header>