<div class="slider slider-main" data-slick='{"slidesToShow": 1, "slidesToScroll": 1,"dots": true, "fade": false}'>
    <div>
        <div class="slider-main__block" style="background-image: url('img/slider1.jpg');" >
            <div class="slider-main__content">
                <div class="slider-main__text">Прямолинейный и криволинейный</div>
                <div class="slider-main__title">Фацепт</div>
                <a href="#" class="slider-main-link btn btn-color2">Заказать</a>
            </div>
        </div>
    </div>
    <div>
        <div class="slider-main__block" style="background-image: url('img/slider1.jpg');">
            <div class="slider-main__content">
                <div class="slider-main__text">Прямолинейный и криволинейный</div>
                <div class="slider-main__title">Фацепт</div>
                <a href="#" class="slider-main-link btn btn-color2">Заказать</a>
            </div>
        </div>
    </div>
</div>


<div class="slider slider-item" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "dots": true, "fade": false}'>
    <div>
        <a href="#" class="slider-item__item">
            <img src="img/slider-item_1.jpg" alt="" class="slider-item__img">
            <div class="slider-item__date">11.12.2015</div>
            <div class="slider-item__title">Правильно чистим зубы</div>
        </a>
    </div>
    <div>
        <a href="#" class="slider-item__item">
            <img src="img/slider-item_2.jpg" alt="" class="slider-item__img">
            <div class="slider-item__date">11.12.2015</div>
            <div class="slider-item__title">Правильно чистим зубы</div>
        </a>
    </div>
    <div>
        <a href="#" class="slider-item__item">
            <img src="img/slider-item_3.jpg" alt="" class="slider-item__img">
            <div class="slider-item__date">11.12.2015</div>
            <div class="slider-item__title">Правильно чистим зубы</div>
        </a>
    </div>
    <div>
        <a href="#" class="slider-item__item">
            <img src="img/slider-item_4.jpg" alt="" class="slider-item__img">
            <div class="slider-item__date">11.12.2015</div>
            <div class="slider-item__title">Правильно чистим зубы</div>
        </a>
    </div>
    <div>
        <a href="#" class="slider-item__item">
            <img src="img/slider-item_4.jpg" alt="" class="slider-item__img">
            <div class="slider-item__date">11.12.2015</div>
            <div class="slider-item__title">Правильно чистим зубы</div>
        </a>
    </div>
</div>
