<div class="slider slider-main" data-slick='{"dots": true, "fade": false}'>
        <div>
            <div class="slider-main__block" style="background-image: url('img/slider1.jpg');" >
                <div class="slider-main__content">
                    <div class="slider-main__text">Прямолинейный и криволинейный</div>
                    <div class="slider-main__title">Фацепт</div>
                    <a href="#" class="slider-main-link btn btn-color2">Заказать</a>
                </div>
            </div>
        </div>
        <div>
            <div class="slider-main__block" style="background-image: url('img/slider1.jpg');">
                <div class="slider-main__content">
                    <div class="slider-main__text">Прямолинейный и криволинейный</div>
                    <div class="slider-main__title">Фацепт</div>
                    <a href="#" class="slider-main-link btn btn-color2">Заказать</a>
                </div>
            </div>
        </div>

    </div>
</div>
