

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Regular.ttf.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf.ttf')  format('truetype'), url('../fonts/OpenSans-Regular.ttf.svg#OpenSans-Regular.ttf') format('svg');
  font-weight: normal;
  font-style: normal;
}




