
.wrapper__footer,.footer {
  min-height: 80px;
}

.footer {
  margin-top: -80px;
  background: gray;
}

.footer__cop,.footer__juno {
  @extend %inb;
  width: 49%;
}

.footer__cop {
  text-align: left;
}

.footer__juno {
  text-align: right;
}

.footer__juno .link {
  color:#252525;
  text-decoration: underline;
}


.footer__juno .link:hover {
  text-decoration: none;
}