.menu {
  /* position: relative;*/

}

.menu__list {
  display: table;
  width: 100%;
}

.menu__item {
  display: table-cell;
  background: black;
  padding: 5px;
  text-align: center;
}

.menu__item:hover,.menu__item-active{
  background: #464646;
}

.menu__link{
  text-decoration: none;
  font-size: 18px;
  color:white;


}

.menu__link:hover {
  text-decoration: none;
}




