html,
body,
.wrapper {
  height: 100%;
}
.wrapper__content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 240px;
}

ul {
  list-style-type: none;
  padding: 0;
}


.contain  {
  width: 930px;
  padding: 0 40px;
  margin: 0 auto;
}