html, body{ background: rgb(248, 247, 247); height: 100%; margin: 0; padding: 0; color: #3d3d3d; font: 14px "Roboto Mono", Helvetica, sans-serif;}
body{position: relative; cursor: default;}
img{max-width: 100%;}
a img {border: 0 none;}
h1, h2, h3 ,
h4, h5, h6{padding: 0; margin: 1.2em 0 0.8em; text-transform: uppercase; font-weight: 100}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{display: block;}
a{text-decoration: none; color: #232323;}
a:hover{text-decoration: underline;}
a span, a font{cursor: pointer;}
hr{background: #3e76b3; height: 1px; border: 0 none; margin: 20px 0;}
label{cursor: pointer; -moz-user-select: none; -khtml-user-select: none; user-select: none;}
input[type="submit"], button{cursor: pointer;}
textarea{resize: vertical;}
input,
textarea,
button{font-family: inherit; color: inherit; outline: 0 none; box-sizing: border-box;}
button::-moz-focus-inner{padding: 0; border: 0;}
::selection{color: #222; background: #ccd6eb;}
::-moz-selection{color: #222; background: #ccd6eb;}
table {border-collapse: collapse; border-spacing: 0;border: 0;}
table td{vertical-align: top;}
/* end reset */

html,
body,
.wrapper {
  height: 100%;
}
.wrapper__content {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 240px;
}

ul {
  list-style-type: none;
  padding: 0;
}

%inb {
  display: inline-block;
  vertical-align: top;
}

.contain  {
  width: 930px;
  padding: 0 40px;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  text-align: center;
  color:white;
  padding:7px 18px 0px;
  line-height: 28px;
  padding-top: 4px;
  font-size: 12px;
  border-top: 1px solid #18d373;
  border-bottom:2px solid #0a6436;
  background: red;
  text-transform: uppercase;


  @extend %inb;


}

.btn:hover {
  text-decoration: none;
}
